.bg-cover {
  background-size: cover;
  background-position: center center; }

.bg-bottom {
  background-size: cover;
  background-position: center bottom; }

.sticky-section {
  position: relative;
  left: 0; }

.sticky-section.sticky {
  position: sticky;
  position: -webkit-sticky; }

.z-2 {
  z-index: 2; }

.z-3 {
  z-index: 3; }

.z-4 {
  z-index: 4; }

.z-5 {
  z-index: 5; }

header {
  width: 100%;
  height: 180vh;
  position: relative;
  opacity: 0;
  transition: opacity .5s ease; }
  header .header-img {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 100%;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1568605117036-5fe5e7bab0b7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80"); }
    header .header-img .bg-block {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: black;
      opacity: 0; }
  header .header-content {
    overflow: hidden;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto auto; }
  header h1 {
    font-size: 72px; }
  header p {
    font-size: 26px; }
  @media (max-width: 576px) {
    header h1 {
      font-size: 37px; }
    header p {
      font-size: 20px;
      font-weight: 300; } }
  header #firstText {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    height: auto;
    transform: translateY(-50%);
    opacity: 0;
    display: flex;
    align-items: center; }
  header #secondText {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    height: 200px;
    transform: translateY(-30%);
    opacity: 0; }

header.active {
  opacity: 1; }

#sectionOne {
  width: 100%;
  overflow: hidden; }
  #sectionOne .section-one-box-1, #sectionOne .section-one-box-2, #sectionOne .section-one-box-3 {
    width: 100%;
    height: 280px;
    color: white; }
    #sectionOne .section-one-box-1 h1, #sectionOne .section-one-box-2 h1, #sectionOne .section-one-box-3 h1 {
      position: relative;
      font-size: 72px; }
      #sectionOne .section-one-box-1 h1:after, #sectionOne .section-one-box-2 h1:after, #sectionOne .section-one-box-3 h1:after {
        content: attr(data-unit);
        color: white;
        position: absolute;
        z-index: 1;
        bottom: 12px;
        right: -46px;
        font-size: 22px; }
    #sectionOne .section-one-box-1 p, #sectionOne .section-one-box-2 p, #sectionOne .section-one-box-3 p {
      font-size: 20px;
      margin-top: 10px; }
  #sectionOne .section-one-box-1 {
    background-color: #2e303b; }
  #sectionOne .section-one-box-2 {
    background-color: #23232c; }
  #sectionOne .section-one-box-3 {
    background-color: #2e303b; }

#sectionTwo {
  top: 0; }
  #sectionTwo .inner-box-content-1, #sectionTwo .inner-box-content-2 {
    width: 100%;
    min-height: 380px;
    color: white;
    padding: 40px 60px; }
    #sectionTwo .inner-box-content-1 h1, #sectionTwo .inner-box-content-2 h1 {
      font-size: 28px; }
    #sectionTwo .inner-box-content-1 p, #sectionTwo .inner-box-content-2 p {
      font-size: 18px; }
  @media (max-width: 768px) {
    #sectionTwo .inner-box-content-1, #sectionTwo .inner-box-content-2 {
      padding: 40px 20px; }
      #sectionTwo .inner-box-content-1 h1, #sectionTwo .inner-box-content-2 h1 {
        font-size: 24px; }
      #sectionTwo .inner-box-content-1 p, #sectionTwo .inner-box-content-2 p {
        font-size: 16px; } }
  #sectionTwo .inner-box-img {
    width: 100%;
    min-height: 380px; }
  #sectionTwo .inner-box-content-1 {
    background-color: #606379; }
  #sectionTwo .inner-box-content-2 {
    background-color: #23232c; }

@media (max-width: 576px) {
  #sectionTwo {
    top: -100vh; }
    #sectionTwo .inner-box-img {
      min-height: 45vh;
      height: 20vh; }
    #sectionTwo .inner-box-content-1, #sectionTwo .inner-box-content-2 {
      min-height: 55vh; } }

#sectionThree {
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden; }
  #sectionThree .bg-img {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    background-image: url("https://images.unsplash.com/photo-1520340356584-f9917d1eea6f?ixlib=rb-1.2.1&auto=format&fit=crop&w=2089&q=80"); }
    #sectionThree .bg-img:after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.1); }
    #sectionThree .bg-img .scroll-btn {
      border-radius: 100%;
      position: absolute;
      z-index: 1;
      left: 50%;
      transform: translateX(-50%);
      bottom: 8%;
      color: white;
      font-size: 38px;
      opacity: 1;
      transition: opacity .3s ease;
      animation-name: move;
      animation-duration: 2.6s;
      animation-iteration-count: infinite; }

@keyframes move {
  0% {
    bottom: 8%; }
  50% {
    bottom: 3%; }
  100% {
    bottom: 8%; } }
    #sectionThree .bg-img .scroll-btn.remove {
      opacity: 0; }

.order-box {
  position: relative;
  z-index: 10;
  width: 100%;
  height: 1578px;
  max-height: 1578px; }
  .order-box .order-container {
    border-radius: 15px;
    overflow: hidden;
    transform: translateX(-140%) translateY(-85%) rotateY(70deg) rotateX(60deg); }
    .order-box .order-container .order-content {
      position: relative;
      width: 100%;
      height: 300px;
      padding: 20px 50px;
      background-color: rgba(0, 0, 0, 0.25);
      color: white; }
      .order-box .order-container .order-content h1 {
        font-size: 44px; }
      .order-box .order-container .order-content .bg-block {
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        overflow: hidden; }
        .order-box .order-container .order-content .bg-block:after {
          content: "";
          position: absolute;
          top: -10px;
          left: -10px;
          right: -10px;
          bottom: -10px;
          background-position: center center;
          background-size: cover;
          background-attachment: fixed;
          background-image: url("https://images.unsplash.com/photo-1520340356584-f9917d1eea6f?ixlib=rb-1.2.1&auto=format&fit=crop&w=2089&q=80");
          filter: blur(10px); }
    .order-box .order-container .order-img {
      width: 100%;
      height: 350px; }

@media (max-width: 576px) {
  .order-box {
    height: 1400px; }
    .order-box .order-container {
      transform: translateX(-77%) translateY(-85%) rotateY(70deg) rotateX(60deg); }
      .order-box .order-container .order-content {
        height: 280px; }
      .order-box .order-container .order-img {
        height: 320px; } }
