$primary-color:#2e303b;
$secondary-color:#23232c;
$lucky-color:#606379;
.bg-cover{
    background-size:cover;
    background-position:center center;
}
.bg-bottom{
    background-size:cover;
    background-position:center bottom;
}
.sticky-section{
    position:relative;
    // position:-webkit-sticky;
    left:0;
}
.sticky-section.sticky{
    position:sticky;
    position:-webkit-sticky;
}
.z-2{
    z-index:2;
}
.z-3{
    z-index:3;
}
.z-4{
    z-index:4;
}
.z-5{
    z-index:5;
}
// header
header{
    width:100%;
    height:180vh;
    position:relative;
    opacity:0;
    transition:opacity .5s ease;
    .header-img{
        position:sticky;
        position: -webkit-sticky;
        top:0;
        left:0;
        right:0;
        bottom:0;
        z-index:-1;
        width:100%;
        height:100vh;
        background-image:url("https://images.unsplash.com/photo-1568605117036-5fe5e7bab0b7?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
        .bg-block{
            position: absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            background-color:rgb(0,0,0);
            opacity:0;
        }
    } 
    .header-content{
        overflow: hidden;
        position:absolute;
        top:0px;
        left:0;
        right:0;
        bottom:0;
        margin:auto auto;
    }
    // .header-content{
    //     position:sticky;
    //     position: -webkit-sticky;
    //     top:0px;
    //     left:0;
    //     right:0;
    //     bottom:0;
    //     height:100vh;
    // }
    // .header-content{
    //     height:100vh;
    // }
    h1{
        font-size:72px;
    }
    p{
        font-size:26px;
    } 
    @media(max-width:576px){
        h1{
            font-size:37px;
        }
        p{
            font-size:20px;
            font-weight: 200;
        }
    }
    #firstText{
        position:absolute;
        z-index:1;
        top:50%;
        left:0;
        right:0;
        bottom:0;
        margin:0 auto;
        height:auto;
        transform:translateY(-50%);
        opacity:0;
        display:flex;
        align-items:center;
    }
    #secondText{
        position:absolute;
        z-index:1;
        top:50%;
        left:0;
        right:0;
        bottom:0;
        margin:0 auto;
        height:200px;
        transform:translateY(-30%);
        opacity:0;
    }
} 
header.active{
    opacity:1;
}
// header end

// sectionOne
#sectionOne{
    width:100%;
    overflow: hidden;
    // display:flex;
    .section-one-box-1,.section-one-box-2,.section-one-box-3{
        width:100%;
        height:280px;
        color:white;
        h1{
            position:relative;
            font-size:72px;
            &:after{
                content:attr(data-unit);
                color:white;
                position:absolute;
                z-index:1;
                bottom:12px;
                right:-46px;
                font-size:22px;
            }
        }
        p{
            font-size:20px;
            margin-top:10px;
        }
    }
    .section-one-box-1{
        background-color:$primary-color;
    }
    .section-one-box-2{
        background-color:$secondary-color;
    }
    .section-one-box-3{
        background-color:$primary-color;
    }
}

// sectionOne end


// sectionTwo
#sectionTwo{
    top:0;
    .inner-box-content-1 ,.inner-box-content-2{
        width:100%;
        min-height:380px;
        color:white;
        padding:40px 60px;
        h1{
            font-size:28px;
        }
        p{
            font-size:18px;
        }
    }
    @media(max-width:768px){
        .inner-box-content-1 ,.inner-box-content-2{
            padding:40px 20px;
            h1{
                font-size:24px;
            }
            p{
                font-size:16px;
            }
        }
    }
    .inner-box-img{
        width:100%;
        min-height:380px;
    }
    .inner-box-content-1{
        background-color:$lucky-color;
    }
    .inner-box-content-2{
        background-color:$secondary-color;
    }
}
@media(max-width:576px){
    #sectionTwo{
        top:-100vh;
        .inner-box-img{
            min-height:45vh;
            height:20vh;
        }
        .inner-box-content-1 ,.inner-box-content-2{
            min-height: 55vh;
        }
    }
}
// sectionTwo end

// sectionThree
#sectionThree{
    top:0;
    width:100%;
    height:100vh;
    overflow: hidden;
    .bg-img{
        position:absolute;
        // position: -webkit-sticky;
        z-index:-1;
        top:0;
        left:0;
        right:0;
        bottom:0;
        width:100%;
        height:100vh;
        background-image:url("https://images.unsplash.com/photo-1520340356584-f9917d1eea6f?ixlib=rb-1.2.1&auto=format&fit=crop&w=2089&q=80");
    }
}
// sectionThree end
.order-box{
    position: relative;
    z-index:10;
    // top:100px;
    // right:20%;
    width:100%;
    height:100vh;
    // background-color:rgba(0,0,0,0.3); 
    .order-container{
        border-radius: 15px;
        overflow: hidden;
        // opacity:0;
        // transform: translate(-120%,-20%) rotateY(70deg)  rotateX(60deg);
        transform:translateX(-140%) translateY(-80%) rotateY(70deg)  rotateX(60deg);
        .order-content{
            position:relative;
            width:100%;
            height:300px;
            padding:20px 50px;
            background-color:rgba(0, 0, 0, 0.25);
            color:white;
            h1{
                font-size:44px;
            }
            .bg-block{
                position:absolute;
                z-index:-1;
                top:0;
                left:0;
                right:0;
                bottom:0;
                overflow:hidden;
                &:after{
                    content:"";
                    position:absolute;
                    top:-10px;
                    left:-10px;
                    right:-10px;
                    bottom:-10px;
                    background-position:center center;
                    background-size: cover;
                    background-attachment: fixed;
                    background-image:url("https://images.unsplash.com/photo-1520340356584-f9917d1eea6f?ixlib=rb-1.2.1&auto=format&fit=crop&w=2089&q=80");
                    filter:blur(10px);
                }
            }
        }
        .order-img{
            width:100%;
            height:350px;
        }
    }
    // .order-container.active{
    //     transform: translate(0%,0%) rotateY(0deg)  rotateX(0deg);
    // }
    
}

